@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #bed4e9;
  /* background: linear-gradient(
    145deg,
    rgba(51, 115, 176, 1) 5%,
    rgba(11, 56, 95, 1) 80%,
    rgba(28, 33, 39, 1) 90%
  ); */
}
